.title {
    &-sm {
        h6 {
            color: #fff;
            font-family: $font-roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }
    }
}
h2 {
    font-family: $font-poppins;
}
