$primary-color: #3d5066;
$secondary-color: #8191a0;
$blue: #1a2f42;
$lighten-blue: #1a2f42;
$dark-blue: #11202e;
$white: #ffffff;
$font-family: 'Arial', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$menu-color: #1f1534;
$slider-bg: #31526b;
$font-size: 16px;
